
#dane_kontaktowe {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

#map_box {
    margin: auto;
    clear: both;
}

#chlopiec_rozmowa {
    float: left;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}