
div p {
    text-indent: 80px;
}

#suknia_bukiet {
    width: 30%;
    margin-left: 15px;
}

#portret {
    width: 40%;
    margin-right: 15px;
}

#rodzinne {
    width: 45%;
    margin-left: 15px;
}

@media(max-width: 575px) {
    #suknia_bukiet {
        width: 50%;
        margin-left: 15px;
    }
    
    #portret {
        width: 60%;
        margin-right: 15px;
    }
    
    #rodzinne {
        width: 60%;
        margin-left: 15px;
    }
}

footer p {
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(52, 58, 64);
    text-align: center;
    margin-top: 30px;
}